# Imports

In [1]:
import sys
import os
#sys.path.append(os.path.dirname(os.path.abspath(__file__)))

import pandas as pd
import duckdb

In [2]:
#print(sys.path)

____

___

In [3]:
filename = "data/test_5_min.duckdb"

# Read From duckbd

In [4]:
con = duckdb.connect(filename, read_only=True)
#print(con.execute("SELECT * FROM candles ORDER BY timestamp DESC LIMIT 5").fetchall())
query = """SELECT * 
           FROM candles
        """
query_results = con.execute(query).fetchall()

In [5]:
print(query_results)

[(datetime.datetime(2025, 5, 18, 11, 20), 103932.9, 103971.9, 103920.9, 103920.9, 6.05542964), (datetime.datetime(2025, 5, 18, 11, 25), 103920.7, 103950.0, 103920.7, 103949.9, 0.01128842), (datetime.datetime(2025, 5, 18, 11, 30), 103949.9, 103979.6, 103949.9, 103979.2, 0.64970933), (datetime.datetime(2025, 5, 18, 11, 35), 103979.3, 103987.9, 103972.0, 103972.1, 0.94646116), (datetime.datetime(2025, 5, 18, 11, 40), 103972.1, 103975.8, 103901.6, 103901.7, 0.02731049), (datetime.datetime(2025, 5, 18, 11, 45), 103901.6, 103901.6, 103863.0, 103874.8, 2.04154499), (datetime.datetime(2025, 5, 18, 11, 50), 103874.9, 103884.0, 103864.0, 103872.3, 0.6349638), (datetime.datetime(2025, 5, 18, 11, 55), 103872.3, 103872.3, 103851.5, 103851.6, 0.08701341), (datetime.datetime(2025, 5, 18, 12, 0), 103851.7, 103852.0, 103851.7, 103851.9, 1.18700705), (datetime.datetime(2025, 5, 18, 12, 5), 103852.0, 103852.0, 103851.9, 103852.0, 0.12296776), (datetime.datetime(2025, 5, 18, 12, 10), 103852.0, 103862.3, 103851.9, 103862.2, 0.81182829), (datetime.datetime(2025, 5, 18, 12, 15), 103862.3, 103862.3, 103862.2, 103862.3, 0.03503356), (datetime.datetime(2025, 5, 18, 12, 20), 103862.3, 103893.3, 103849.9, 103849.9, 2.66053116), (datetime.datetime(2025, 5, 18, 12, 25), 103850.0, 103852.2, 103807.1, 103807.1, 0.15045828), (datetime.datetime(2025, 5, 18, 12, 30), 103807.1, 103826.5, 103807.1, 103823.4, 0.00684884), (datetime.datetime(2025, 5, 18, 12, 35), 103823.3, 103826.5, 103823.3, 103826.4, 0.16368966), (datetime.datetime(2025, 5, 18, 12, 40), 103826.5, 103842.2, 103826.4, 103842.2, 0.2439441), (datetime.datetime(2025, 5, 18, 12, 45), 103842.2, 103858.8, 103840.0, 103840.1, 0.99454047), (datetime.datetime(2025, 5, 18, 12, 50), 103840.1, 103843.5, 103840.1, 103843.4, 0.00942447), (datetime.datetime(2025, 5, 18, 12, 55), 103843.5, 103862.8, 103843.4, 103854.6, 3.39718356), (datetime.datetime(2025, 5, 18, 13, 0), 103856.6, 103873.2, 103850.1, 103873.2, 0.70764006), (datetime.datetime(2025, 5, 18, 13, 5), 103873.2, 103873.2, 103873.1, 103873.2, 0.0267626), (datetime.datetime(2025, 5, 18, 13, 10), 103873.2, 103873.2, 103867.7, 103871.6, 0.10642918), (datetime.datetime(2025, 5, 18, 13, 15), 103862.4, 103894.8, 103862.3, 103894.8, 0.15105098), (datetime.datetime(2025, 5, 18, 13, 20), 103894.8, 103905.9, 103894.8, 103905.9, 0.22591182), (datetime.datetime(2025, 5, 18, 13, 25), 103905.9, 103930.1, 103905.9, 103920.6, 1.28093097), (datetime.datetime(2025, 5, 18, 13, 30), 103920.7, 103949.2, 103920.7, 103949.1, 0.42237808), (datetime.datetime(2025, 5, 18, 13, 35), 103949.1, 103961.0, 103944.3, 103960.6, 0.59699624), (datetime.datetime(2025, 5, 18, 13, 40), 103960.6, 103960.6, 103901.6, 103901.6, 1.11280805), (datetime.datetime(2025, 5, 18, 13, 45), 103901.6, 103901.6, 103838.7, 103844.0, 18.99174218), (datetime.datetime(2025, 5, 18, 13, 50), 103832.7, 103834.8, 103818.1, 103821.0, 0.3781236), (datetime.datetime(2025, 5, 18, 13, 55), 103821.0, 103821.1, 103818.0, 103821.1, 3.03764702), (datetime.datetime(2025, 5, 18, 14, 0), 103821.1, 103821.1, 103809.0, 103811.0, 0.26115685), (datetime.datetime(2025, 5, 18, 14, 5), 103811.0, 103811.0, 103800.6, 103800.6, 0.01958802), (datetime.datetime(2025, 5, 18, 14, 10), 103800.6, 103800.6, 103778.5, 103778.5, 0.06754324), (datetime.datetime(2025, 5, 18, 14, 15), 103778.6, 103778.6, 103778.5, 103778.6, 0.01457672), (datetime.datetime(2025, 5, 18, 14, 20), 103778.6, 103778.6, 103778.5, 103778.6, 0.03316182), (datetime.datetime(2025, 5, 18, 14, 25), 103778.6, 103810.9, 103778.5, 103810.9, 0.21634397), (datetime.datetime(2025, 5, 18, 14, 30), 103810.9, 103884.0, 103810.8, 103884.0, 0.24367372), (datetime.datetime(2025, 5, 18, 14, 35), 103884.0, 103884.2, 103883.9, 103884.2, 0.18035749), (datetime.datetime(2025, 5, 18, 14, 40), 103884.2, 103884.2, 103884.2, 103884.2, 0.00033524), (datetime.datetime(2025, 5, 18, 14, 45), 103873.1, 103873.1, 103873.1, 103873.1, 0.00019158), (datetime.datetime(2025, 5, 18, 14, 50), 103868.1, 103868.1, 103868.1, 103868.1, 0.00077533), (datetime.datetime(2025, 5, 18, 14, 55), 103910.1, 103951.1, 103910.1, 103939.0, 3.39888039), (datetime.datetime(2025, 5, 18, 15, 0), 103939.0, 103954.6, 103939.0, 103939.0, 0.24168665), (datetime.datetime(2025, 5, 18, 15, 5), 103939.0, 103939.0, 103917.1, 103917.1, 0.45455627), (datetime.datetime(2025, 5, 18, 15, 10), 103917.1, 103918.3, 103915.2, 103918.2, 0.09901126), (datetime.datetime(2025, 5, 18, 15, 15), 103918.3, 103918.3, 103916.1, 103916.2, 0.45277648), (datetime.datetime(2025, 5, 18, 15, 20), 103916.2, 103918.3, 103916.1, 103918.3, 0.02012925), (datetime.datetime(2025, 5, 18, 15, 25), 103918.3, 103918.3, 103918.2, 103918.3, 0.04538565), (datetime.datetime(2025, 5, 18, 15, 30), 103918.3, 103930.0, 103918.2, 103929.9, 0.05119839), (datetime.datetime(2025, 5, 18, 15, 35), 103930.0, 104299.9, 103929.9, 104299.0, 23.4435061), (datetime.datetime(2025, 5, 18, 15, 40), 104299.1, 104500.0, 104299.0, 104499.8, 19.83549283), (datetime.datetime(2025, 5, 18, 15, 45), 104509.3, 104509.3, 104509.2, 104509.2, 3.35825553), (datetime.datetime(2025, 5, 18, 15, 50), 104327.1, 104377.0, 104291.0, 104346.0, 1.06844093), (datetime.datetime(2025, 5, 18, 15, 55), 104346.1, 104346.1, 104346.1, 104346.1, 0.00748985), (datetime.datetime(2025, 5, 18, 16, 0), 104750.0, 104750.0, 104750.0, 104750.0, 1.0), (datetime.datetime(2025, 5, 18, 16, 5), 104719.4, 104719.4, 104719.4, 104719.4, 0.00045485), (datetime.datetime(2025, 5, 18, 16, 10), 104719.4, 104719.4, 104719.4, 104719.4, 0.00047747), (datetime.datetime(2025, 5, 18, 16, 15), 104557.5, 104561.2, 104557.5, 104561.2, 0.08829106), (datetime.datetime(2025, 5, 18, 16, 20), 104621.1, 104621.1, 104621.1, 104621.1, 0.00022328), (datetime.datetime(2025, 5, 18, 16, 25), 104810.6, 104880.7, 104810.6, 104810.9, 2.51219133), (datetime.datetime(2025, 5, 18, 16, 30), 104810.9, 104888.0, 104810.9, 104888.0, 2.91155803), (datetime.datetime(2025, 5, 18, 16, 35), 104888.1, 105213.0, 104888.1, 105211.9, 42.73783056), (datetime.datetime(2025, 5, 18, 16, 40), 105211.9, 105213.0, 105103.3, 105178.7, 63.15015907), (datetime.datetime(2025, 5, 18, 16, 45), 105178.8, 105444.0, 105178.7, 105444.0, 42.25543665), (datetime.datetime(2025, 5, 18, 16, 50), 105444.0, 105532.0, 105397.9, 105398.0, 30.84787912), (datetime.datetime(2025, 5, 18, 16, 55), 105398.0, 105398.0, 105250.0, 105295.0, 14.57103927), (datetime.datetime(2025, 5, 18, 17, 0), 105251.7, 105283.2, 105251.6, 105283.1, 0.21506609), (datetime.datetime(2025, 5, 18, 17, 5), 105012.6, 105012.6, 105012.6, 105012.6, 0.00023455), (datetime.datetime(2025, 5, 18, 17, 10), 105183.0, 105183.0, 105183.0, 105183.0, 5e-05), (datetime.datetime(2025, 5, 18, 17, 15), 105167.9, 105167.9, 105167.9, 105167.9, 0.00019017), (datetime.datetime(2025, 5, 18, 17, 20), 105499.9, 105499.9, 105499.9, 105499.9, 0.0106855)]

In [6]:
con.close()

___

# Pipe the results to a Pandas Dataframe

In [7]:
df = pd.DataFrame(query_results)

In [8]:
df.columns = ['Datetime', 'Open', 'High', 'Low', 'Close', 'Volume']

In [9]:
df.tail(30)

              Datetime      Open      High       Low     Close     Volume
43 2025-05-18 14:55:00  103910.1  103951.1  103910.1  103939.0   3.398880
44 2025-05-18 15:00:00  103939.0  103954.6  103939.0  103939.0   0.241687
45 2025-05-18 15:05:00  103939.0  103939.0  103917.1  103917.1   0.454556
46 2025-05-18 15:10:00  103917.1  103918.3  103915.2  103918.2   0.099011
47 2025-05-18 15:15:00  103918.3  103918.3  103916.1  103916.2   0.452776
48 2025-05-18 15:20:00  103916.2  103918.3  103916.1  103918.3   0.020129
49 2025-05-18 15:25:00  103918.3  103918.3  103918.2  103918.3   0.045386
50 2025-05-18 15:30:00  103918.3  103930.0  103918.2  103929.9   0.051198
51 2025-05-18 15:35:00  103930.0  104299.9  103929.9  104299.0  23.443506
52 2025-05-18 15:40:00  104299.1  104500.0  104299.0  104499.8  19.835493
53 2025-05-18 15:45:00  104509.3  104509.3  104509.2  104509.2   3.358256
54 2025-05-18 15:50:00  104327.1  104377.0  104291.0  104346.0   1.068441
55 2025-05-18 15:55:00  104346.1  104346.1  104346.1  104346.1   0.007490
56 2025-05-18 16:00:00  104750.0  104750.0  104750.0  104750.0   1.000000
57 2025-05-18 16:05:00  104719.4  104719.4  104719.4  104719.4   0.000455
58 2025-05-18 16:10:00  104719.4  104719.4  104719.4  104719.4   0.000477
59 2025-05-18 16:15:00  104557.5  104561.2  104557.5  104561.2   0.088291
60 2025-05-18 16:20:00  104621.1  104621.1  104621.1  104621.1   0.000223
61 2025-05-18 16:25:00  104810.6  104880.7  104810.6  104810.9   2.512191
62 2025-05-18 16:30:00  104810.9  104888.0  104810.9  104888.0   2.911558
63 2025-05-18 16:35:00  104888.1  105213.0  104888.1  105211.9  42.737831
64 2025-05-18 16:40:00  105211.9  105213.0  105103.3  105178.7  63.150159
65 2025-05-18 16:45:00  105178.8  105444.0  105178.7  105444.0  42.255437
66 2025-05-18 16:50:00  105444.0  105532.0  105397.9  105398.0  30.847879
67 2025-05-18 16:55:00  105398.0  105398.0  105250.0  105295.0  14.571039
68 2025-05-18 17:00:00  105251.7  105283.2  105251.6  105283.1   0.215066
69 2025-05-18 17:05:00  105012.6  105012.6  105012.6  105012.6   0.000235
70 2025-05-18 17:10:00  105183.0  105183.0  105183.0  105183.0   0.000050
71 2025-05-18 17:15:00  105167.9  105167.9  105167.9  105167.9   0.000190
72 2025-05-18 17:20:00  105499.9  105499.9  105499.9  105499.9   0.010686

In [10]:
len(df)

73

____

____

___

In [11]:
# strategy/ta.py
import sys
import os
#sys.path.append(os.path.dirname(os.path.abspath(__file__)))

import duckdb
import pandas as pd
import pandas_ta as ta
from datetime import datetime, timedelta

DB_PATH = filename  

def load_recent_candles(hours=200):
    con = duckdb.connect(DB_PATH)
    query = f"""
            SELECT * 
            FROM candles
            --WHERE timestamp >= NOW() - INTERVAL {hours} HOUR
            ORDER BY timestamp ASC
            """
    df = con.execute(query).fetchdf()
    con.close()
    return df


def compute_indicators(df):
    df.set_index('timestamp', inplace=True)

    # Add 3 basic indicators
    df['rsi'] = ta.rsi(df['close'], length=14)
    df['ema_50'] = ta.ema(df['close'], length=50)
    df['ema_200'] = ta.ema(df['close'], length=200)

    return df

def generate_signal(df):
    latest = df.iloc[-1]

    signal = "hold"
    reason = ""

    # Strategy logic
    if latest['ema_50'] > latest['ema_200'] and latest['rsi'] < 30:
        signal = "buy"
        reason = "Golden cross + RSI oversold"
    elif latest['ema_50'] < latest['ema_200'] and latest['rsi'] > 70:
        signal = "sell"
        reason = "Death cross + RSI overbought"

    return signal, reason

def get_ta_signal():
    df = load_recent_candles()
    df = compute_indicators(df)
    signal, reason = generate_signal(df)
    print(f"TA Signal: {signal.upper()} | Reason: {reason}")
    return signal, reason

In [12]:
load_recent_candles()

             timestamp      open      high       low     close    volume
0  2025-05-18 11:20:00  103932.9  103971.9  103920.9  103920.9  6.055430
1  2025-05-18 11:25:00  103920.7  103950.0  103920.7  103949.9  0.011288
2  2025-05-18 11:30:00  103949.9  103979.6  103949.9  103979.2  0.649709
3  2025-05-18 11:35:00  103979.3  103987.9  103972.0  103972.1  0.946461
4  2025-05-18 11:40:00  103972.1  103975.8  103901.6  103901.7  0.027310
..                 ...       ...       ...       ...       ...       ...
68 2025-05-18 17:00:00  105251.7  105283.2  105251.6  105283.1  0.215066
69 2025-05-18 17:05:00  105012.6  105012.6  105012.6  105012.6  0.000235
70 2025-05-18 17:10:00  105183.0  105183.0  105183.0  105183.0  0.000050
71 2025-05-18 17:15:00  105167.9  105167.9  105167.9  105167.9  0.000190
72 2025-05-18 17:20:00  105499.9  105499.9  105499.9  105499.9  0.010686

[73 rows x 6 columns]

In [13]:
# Define the checkmark symbol using Unicode
checkmark = "\u2705"

# Display it to simulate a live conversion/output in a Python environment
checkmark

'✅'